/* Genel Stil */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("assets/cloud-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.library-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.library-container h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.book-item {
  position: relative;
  width: 180px;
  height: 270px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background: #fff;
  padding: 5px;
}

.book-item:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: opacity 0.3s;
}

.book-cover:hover {
  opacity: 0.9;
}

.book-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}
